<%- partial('_partial/archive', {pagination: config.category}) %>
	
	<div style='border:1px solid red'>
		
		你好
		
		
	</div>
	
	<div style='border:1px solid red'>
		
		你好
		
		
	</div>
	
	<div style='border:1px solid red'>
		
		你好
		
		
	</div>
	
	
	<div style='border:1px solid green'>
		
		你好
		
		
	</div>
	
	<div style='border:1px solid yellow'>
		
		你好
		
		
	</div>